<div *ngIf="dogs.length > 0; else loading" class="container mt-3">
  <div class="row">
    <div
      class="col-md-3"
      *ngFor="
        let dog of dogs
          | slice
            : currentPage * itemsPerPage
            : (currentPage + 1) * itemsPerPage
      "
    >
      <a [routerLink]="['/dogs/detail', dog.id]">
        <app-dog-card [dog]="dog"></app-dog-card>
      </a>
    </div>
  </div>
  <!-- Controles de paginación TODO modularizar -->
  <nav
    class="d-flex justify-content-center mt-3"
    aria-label="Page navigation example"
  >
    <ul class="pagination flex-wrap">
      <li
        class="page-item"
        *ngFor="
          let page of [].constructor(Math.ceil(dogs.length / itemsPerPage));
          let i = index
        "
      >
        <a class="page-link" href="#" (click)="setCurrentPage(i, $event)">
          {{ i + 1 }}
        </a>
      </li>
    </ul>
  </nav>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
