<div
  class="card d-flex flex-column justify-content-center align-items-center p-3 bg-dark text-white"
  *ngIf="dog; else loading"
  style="max-width: 100%; min-height: 100vh"
>
  <img
    src="{{ dog.image }}"
    class="img-fluid border-2 rounded"
    alt="Dog image"
    style="max-width: 400px"
  />
  <h2 class="mt-4 text-center text-success">{{ dog.name }}</h2>

  <div class="text-center">
    <h3>Altura:</h3>
    <span>{{ dog.height }}</span>
  </div>

  <div class="text-center">
    <h3>Peso:</h3>
    <span>{{ dog.weight }}</span>
  </div>

  <div class="text-center">
    <h3>Expectativa de vida:</h3>
    <span>{{ dog.life_span }}</span>
  </div>

  <div class="text-center mb-4" style="max-width: 400px">
    <h3>Temperamento:</h3>
    <span>{{ dog.temperament }}</span>
  </div>

  <app-navigate-button text="Volver" path="/dogs/list"></app-navigate-button>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
